# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Python
*.pyc

# Ignore Goland project files
.idea

# Ignore service binaries (from local tests)
svc/link_service/link_service
svc/social_graph_service/social_graph_service
svc/user_manger/user_manager
svc/news_service/news_service

